@charset "UTF-8";
body {
  font-family: "Volkhov", "dnp-shuei-mincho-pr6", sans-serif;
  font-style: normal;
  overflow-x: hidden;
  color: #333;
  letter-spacing: 0.1em;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 4%;
}

.section_title_en {
  font-size: 32px;
  letter-spacing: 0.05em;
}

.section_title_jp {
  font-size: 16px;
  margin-bottom: 50px;
  letter-spacing: 0.05em;
}

.contents_title_jp {
  font-size: 28px;
  font-weight: lighter;
  margin-top: 70px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .contents_title_jp {
    font-size: 24px;
  }
}

.contents_title_en {
  font-size: 20px;
  letter-spacing: 0;
}
@media (max-width: 768px) {
  .contents_title_en {
    font-size: 18px;
  }
}

.contents_text {
  margin-top: 60px;
  line-height: 3em;
}
@media (max-width: 768px) {
  .contents_text {
    font-size: 14px;
    line-height: 2.5em;
  }
}

.read_btn a {
  display: inline-block;
  position: relative;
  color: #fff;
  text-align: center;
  align-items: center;
  font-size: 28px;
  width: 60px;
  height: 60px;
  background-color: #D3A87B;
  border-radius: 50%;
  transition: all 0.5s;
}
.read_btn a::after {
  position: absolute;
  content: "Read More";
  top: 50%;
  left: 100px;
  transform: translate(0, -50%);
  color: #333;
  font-size: 12px;
  white-space: nowrap;
}

.read_btn:hover a {
  background-color: #b7aea5;
}

.contact_btn {
  background-color: #fff;
  display: inline-block;
  padding: 1em 3em;
  text-align: center;
}

.shop_desc {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1em;
}
.shop_desc dt {
  width: 40%;
}
.shop_desc dd {
  width: 60%;
}

.slide_in_read {
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  transition: clip-path 2s cubic-bezier(0.5, 1, 0.89, 1);
  transition-delay: 0.3s;
  opacity: 0;
  vertical-align: middle;
}

.slide_in {
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  transition: clip-path 1.2s cubic-bezier(0.5, 1, 0.89, 1);
  opacity: 0;
  vertical-align: middle;
}

.slide_in_active {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  opacity: 1;
}

.fade_up {
  opacity: 0;
  transform: translate(0, 30px);
  transition: all 1s;
}

.fade_up_active {
  opacity: 1;
  transform: translate(0, 0);
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #eeece3;
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.loading.fade-out {
  opacity: 0;
}

.loading video {
  max-width: 300px;
  margin: 0 auto;
}

header {
  width: 100vw;
  height: 350px;
  background-color: #f1efe7;
  display: flex;
  justify-content: space-between;
}
header .logo {
  width: 230px;
  height: 140px;
  margin: 0 40px;
}
@media (max-width: 768px) {
  header .logo {
    margin: 0 10px;
    width: 200px;
  }
}
header .hamburger {
  display: inline-block;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  border-radius: 50%;
  padding: 20px;
  margin-right: 50px;
  margin-left: auto;
  margin-top: 40px;
  cursor: pointer;
  z-index: 30;
  position: relative;
}
@media (max-width: 768px) {
  header .hamburger {
    margin-right: 20px;
  }
}
header .hamburger span {
  width: 60%;
  height: 1px;
  background-color: #333;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.75s;
}
header .hamburger span:nth-child(1) {
  top: 11px;
  animation: ham_close1 0.75s forwards;
}
@keyframes ham_close1 {
  0% {
    transform: translate(-50%, 9px) rotate(45deg);
  }
  50% {
    transform: translate(-50%, 9px) rotate(0);
  }
  100% {
    transform: translate(-50%, 0) rotate(0);
  }
}
header .hamburger span:nth-child(2) {
  top: 20px;
  transition: all 0.25s 0.25s;
  opacity: 1;
}
header .hamburger span:nth-child(3) {
  top: 29px;
  animation: ham_close3 0.75s forwards;
}
@keyframes ham_close3 {
  0% {
    transform: translate(-50%, -9px) rotate(-45deg);
  }
  50% {
    transform: translate(-50%, -9px) rotate(0);
  }
  100% {
    transform: translate(-50%, 0) rotate(0);
  }
}
header .menu {
  opacity: 0;
  visibility: hidden;
  background-color: #f1efe7;
  width: 30%;
  height: auto;
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 100px;
  text-align: center;
  z-index: 20;
  transition: all 0.75s ease;
}
@media (max-width: 768px) {
  header .menu {
    width: 100%;
  }
}
header .menu .menu_list {
  margin-bottom: 100px;
}
header .menu .menu_list li {
  margin-bottom: 30px;
}
header .menu .menu_list a {
  position: relative;
}
header .menu .menu_list a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  transition: all 0.3s;
  transform: scale(0, 1);
  transform-origin: left top;
}
header .menu .menu_list a:hover::after {
  transform: scale(1, 1);
}
header .menu .contact_btn {
  margin-bottom: 50px;
}
header .menu .shop_desc {
  width: 60%;
  font-size: 14px;
  margin: 0 auto;
}
header .menu .menu_logo {
  width: 60%;
  margin: 0 auto;
}
header .mask {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all 0.75s;
}

.thanks_header {
  height: 140px;
}

.open .hamburger span:nth-child(1) {
  animation: ham_open1 0.75s forwards;
}
@keyframes ham_open1 {
  0% {
    transform: translate(-50%, 0) rotate(0);
  }
  50% {
    transform: translate(-50%, 9px) rotate(0);
  }
  100% {
    transform: translate(-50%, 9px) rotate(45deg);
  }
}
.open .hamburger span:nth-child(2) {
  opacity: 0;
}
.open .hamburger span:nth-child(3) {
  animation: ham_open3 0.75s forwards;
}
@keyframes ham_open3 {
  0% {
    transform: translate(-50%, 0) rotate(0);
  }
  50% {
    transform: translate(-50%, -9px) rotate(0);
  }
  100% {
    transform: translate(-50%, -9px) rotate(-45deg);
  }
}
.open .menu {
  opacity: 1;
  visibility: visible;
}
.open .mask {
  opacity: 1;
  visibility: visible;
}

main .mv {
  margin-top: -210px;
  position: relative;
}
main .mv .mv_img {
  max-width: 80%;
  position: relative;
}
@media (max-width: 768px) {
  main .mv .mv_img {
    max-width: 100%;
  }
}
main .mv .mv_img img {
  height: 600px;
}
main .mv .mv_img .subpage_img {
  height: 350px;
}
main .mv .sub_page_mv_img::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background-color: #fff;
  z-index: 1;
  opacity: 0.5;
}
main .mv .mv_scroll {
  position: absolute;
  bottom: 30%;
  right: 80px;
  transform: rotate(90deg);
  transform-origin: right bottom;
}
@media (max-width: 768px) {
  main .mv .mv_scroll {
    display: none;
  }
}
main .mv .mv_scroll p {
  position: relative;
  display: block;
  font-size: 12px;
}
main .mv .mv_scroll p::after {
  display: block;
  position: absolute;
  content: "";
  left: 50px;
  top: 50%;
  width: 150px;
  height: 1px;
  background-color: #333;
}
main .about {
  margin-top: 120px;
}
main .about .soul {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  main .about .soul {
    flex-direction: column;
  }
}
main .about .soul .soul_img {
  width: 52%;
}
@media (max-width: 768px) {
  main .about .soul .soul_img {
    width: 90%;
  }
}
main .about .soul .soul_img img {
  aspect-ratio: 9/10;
}
@media (max-width: 768px) {
  main .about .soul .soul_img img {
    aspect-ratio: 1/1;
  }
}
main .about .soul .soul_desc {
  width: 45%;
  padding-left: 70px;
}
@media (max-width: 768px) {
  main .about .soul .soul_desc {
    width: 80%;
    padding-left: 0;
  }
}
main .about .soul .soul_desc .soul_btn {
  margin-top: 50px;
}
main .about .about_img_right {
  display: block;
  margin-top: -250px;
  margin-left: auto;
  width: 3%;
  height: 600px;
}
main .about .about_img_right img {
  height: 600px;
  opacity: 0.7;
}
main .about .coffee {
  display: flex;
  justify-content: space-between;
  margin-top: -150px;
}
@media (max-width: 768px) {
  main .about .coffee {
    flex-direction: column-reverse;
  }
}
main .about .coffee .coffee_desc {
  width: 60%;
  margin-top: 30px;
}
@media (max-width: 768px) {
  main .about .coffee .coffee_desc {
    width: 80%;
  }
}
main .about .coffee .coffee_img {
  width: 50%;
  margin-right: 50px;
  margin-left: -5%;
  z-index: -10;
}
@media (max-width: 768px) {
  main .about .coffee .coffee_img {
    width: 80%;
  }
}
main .about .coffee .coffee_img img {
  aspect-ratio: 9/10;
}
main .about .about_img_bottom {
  display: block;
  width: 80%;
  margin: 150px auto 100px 0;
}
@media (max-width: 768px) {
  main .about .about_img_bottom {
    width: 90%;
  }
}
main .about .about_img_bottom img {
  height: 400px;
}
main .news {
  margin-top: 120px;
  background-color: #f1efe7;
}
@media (max-width: 768px) {
  main .news {
    margin-top: 80px;
  }
}
main .news .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 768px) {
  main .news .wrapper {
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
main .news .wrapper .news_left {
  width: 20%;
}
main .news .wrapper .news_left .section_title_en {
  margin-top: 20px;
}
@media (max-width: 768px) {
  main .news .wrapper .news_left .section_title_en {
    width: 100%;
  }
}
main .news .wrapper .news_right {
  width: 80%;
  text-align: left;
}
@media (max-width: 768px) {
  main .news .wrapper .news_right {
    width: 100%;
  }
}
main .news .wrapper .news_right li {
  padding: 2em 0;
  border-top: 1px solid #333;
}
main .news .wrapper .news_right li a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  main .news .wrapper .news_right li a {
    font-size: 14px;
  }
}
main .news .wrapper .news_right li a time {
  width: 15%;
  padding-left: 30px;
}
@media (max-width: 1124px) {
  main .news .wrapper .news_right li a time {
    width: 100%;
    margin-bottom: 1em;
  }
}
main .news .wrapper .news_right li a p {
  width: 70%;
  padding-left: 30px;
}
main .news .wrapper .news_right li a::after {
  position: absolute;
  content: "→";
  top: 50%;
  right: 50px;
  font-size: 28px;
  transform: translate(0, -50%);
}
main .news .wrapper .news_right li a:hover {
  opacity: 0.7;
}
main .news .wrapper .news_right li:last-of-type {
  border-bottom: 1px solid #333;
}
main .news .wrapper .news_btn {
  display: block;
  width: 20%;
  margin-top: -100px;
}
@media (max-width: 768px) {
  main .news .wrapper .news_btn {
    margin-top: 50px;
  }
}
main .faq .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 768px) {
  main .faq .wrapper {
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 50px;
  }
}
main .faq .wrapper .accordion {
  width: 70%;
}
@media (max-width: 768px) {
  main .faq .wrapper .accordion {
    order: 2;
    width: 100%;
  }
}
main .faq .wrapper .accordion .accordion_item {
  border-bottom: 1px solid #333;
  padding: 2em 4em;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  main .faq .wrapper .accordion .accordion_item {
    font-size: 14px;
  }
}
main .faq .wrapper .accordion .accordion_question {
  position: relative;
}
main .faq .wrapper .accordion .accordion_question .toggle_btn {
  margin-left: auto;
  margin-right: 3%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}
@media (max-width: 768px) {
  main .faq .wrapper .accordion .accordion_question .toggle_btn {
    margin-right: 0;
  }
}
main .faq .wrapper .accordion .accordion_question .toggle_btn span {
  width: 100%;
  height: 1px;
  background-color: #333;
  transition: 0.5s;
  position: absolute;
}
main .faq .wrapper .accordion .accordion_question .toggle_btn span:nth-child(1) {
  top: 50%;
}
main .faq .wrapper .accordion .accordion_question .toggle_btn span:nth-child(2) {
  top: 50%;
  transform: rotate(90deg);
}
main .faq .wrapper .accordion .accordion_question .toggle_btn span.rotated {
  transform: rotate(0deg);
}
main .faq .wrapper .accordion .accordion_question:first-of-type {
  border-top: 1px solid #333;
}
main .faq .wrapper .accordion .accordion_question:before {
  position: absolute;
  content: "Q";
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
}
main .faq .wrapper .accordion .accordion_answer {
  display: none;
  background-color: #f1efe7;
  position: relative;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
main .faq .wrapper .accordion .accordion_answer:before {
  position: absolute;
  content: "A";
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
}
main .faq .wrapper .accordion .open {
  max-height: 300px;
  opacity: 1;
  display: block;
}
main .faq .wrapper .faq_right {
  width: 30%;
  padding-left: 5vw;
}
@media (max-width: 768px) {
  main .faq .wrapper .faq_right {
    order: 1;
  }
}
main .faq .wrapper .faq_right .section_title_en {
  margin-top: 20px;
}
main .faq .wrapper .faq_btn {
  display: block;
  width: 25%;
  margin-top: -100px;
  margin-left: auto;
}
@media (max-width: 768px) {
  main .faq .wrapper .faq_btn {
    margin-top: 50px;
    margin-left: 0;
    order: 3;
  }
}
main .sub_page .sub_page_title {
  display: inline-block;
  transform: rotate(90deg);
  margin-top: -100px;
  margin-left: 5%;
  z-index: 5;
  position: relative;
  letter-spacing: 0.3em;
}
main .sub_page .sub_page_contents_title {
  margin-top: 150px;
  font-size: 2em;
}
@media (max-width: 768px) {
  main .sub_page .sub_page_contents_title {
    font-size: 1.5em;
    margin-top: 100px;
  }
}
main .sub_page .contents_text {
  margin: 70px 0;
  font-size: 14px;
}
@media (max-width: 768px) {
  main .sub_page .contents_text {
    margin: 50px 0;
  }
}
main .sub_page .sub_page_wrapper {
  display: block;
  margin-top: 100px;
  padding-top: 50px;
}
main .sub_page .about_img_top {
  width: 80%;
  margin-right: auto;
}
main .sub_page .about_img_top img {
  height: 450px;
}
main .sub_page .contents_text_coffee {
  margin-left: 15%;
}
@media (max-width: 768px) {
  main .sub_page .contents_text_coffee {
    margin-left: 0;
  }
}
main .sub_page .about_img_bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  main .sub_page .about_img_bottom {
    flex-direction: column;
  }
}
main .sub_page .about_img_bottom img {
  width: 45%;
  aspect-ratio: 4.5/3;
  margin: 2%;
}
@media (max-width: 768px) {
  main .sub_page .about_img_bottom img {
    width: 80%;
    margin: 10px auto;
  }
}
main .sub_page .news {
  background-color: #fff;
}
main .sub_page .news .news_list {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  main .sub_page .news .news_list {
    flex-direction: column;
  }
}
main .sub_page .news .news_list li {
  width: 48%;
  margin-bottom: 40px;
  background-color: #f1efe7;
  padding: 1em 2em;
}
@media (max-width: 768px) {
  main .sub_page .news .news_list li {
    width: 100%;
  }
}
main .sub_page .news .news_list li .list_title {
  font-weight: 700;
  border-bottom: 1px solid #333;
  padding-bottom: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .sub_page .news .news_list li .list_text {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 1em;
  padding-bottom: 2em;
}
main .sub_page .news .news_list li time {
  font-size: 12px;
}
main .sub_page .single_wrapper {
  max-width: 70%;
}
main .sub_page .single_wrapper .news_title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #333;
}
main .sub_page .single_wrapper .date {
  font-size: 14px;
  margin-bottom: 3em;
}
main .sub_page .single_wrapper .news_text {
  padding-top: 30px;
}
main .sub_page .faq .accordion {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  main .sub_page .faq .accordion {
    width: 100%;
  }
}
main .sub_page .contact_desc {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  main .sub_page .contact_desc {
    font-size: 14px;
  }
}
main .sub_page .contact {
  margin-bottom: 120px;
}
main .sub_page .contact .contact_list {
  width: 70%;
  margin: 0 auto 70px;
}
@media (max-width: 768px) {
  main .sub_page .contact .contact_list {
    width: 100%;
    margin-bottom: 50px;
  }
}
main .sub_page .contact .contact_list .contact_item {
  margin-bottom: 2em;
}
@media (max-width: 768px) {
  main .sub_page .contact .contact_list .contact_item {
    margin-bottom: 1.2em;
  }
}
main .sub_page .contact .contact_list .contact_item dt {
  margin-bottom: 0.5em;
}
main .sub_page .contact .contact_list .contact_item dt .required {
  color: red;
}
main .sub_page .contact .contact_list .contact_item input {
  width: 100%;
  border: solid 1px #c8c8c8;
  border-radius: 3px;
  background-color: #fafafa;
  padding: 8px 2%;
}
main .sub_page .contact .contact_list .contact_item textarea {
  width: 100%;
  border: solid 1px #c8c8c8;
  border-radius: 3px;
  background-color: #fafafa;
  padding: 8px 2%;
  height: 10em;
}
main .sub_page .contact .submit-btn {
  text-align: center;
}
main .sub_page .contact .submit-btn input {
  background-color: #D2D1CB;
  text-align: center;
  padding: 1em 4em;
  border-radius: 3px;
  font-size: 14px;
}
main .sub_page .contact .submit-btn:hover input {
  background-color: #bdbcb6;
}
main .sub_page .thanks_text {
  margin-top: 20px;
  line-height: 2.5em;
}
main .sub_page .thanks_text a {
  text-decoration: underline;
  color: #0000EE;
}
main .sub_page .instagram {
  margin-top: 20px;
}
main .sub_page .instagram a {
  text-decoration: underline;
  color: #0000EE;
}
main .sub_page .top_btn {
  display: block;
  border: 1px solid #333;
  width: 20%;
  margin-top: 50px;
  margin-bottom: 120px;
  padding: 0.7em 1em;
  text-align: center;
  font-size: 14px;
}

footer {
  margin-top: 50px;
  background-color: #f1efe7;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}
@media (max-width: 768px) {
  footer .wrapper {
    flex-direction: column-reverse;
    padding: 100px 0 0;
  }
}
footer .wrapper .footer_logo {
  max-width: 300px;
}
footer .wrapper .footer_contents {
  padding: 0 5%;
  width: 50%;
}
@media (max-width: 768px) {
  footer .wrapper .footer_contents {
    width: 80%;
  }
}
footer .wrapper .footer_contents .contact_btn {
  width: 70%;
  font-size: 24px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  footer .wrapper .footer_contents .contact_btn {
    padding: 1em;
    width: 100%;
  }
}
footer address {
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
  padding: 1em;
}/*# sourceMappingURL=style.css.map */